<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Hike</title>
</head>
<body>
    <h1>Edit Hike</h1>
        <main>
          <form action="/hikes/<%= hike._id %>?_method=PUT" method="POST">
            <div style= "margin-top:20px;padding-right:37px">
                <input type="text" name="Name" value="<%= hike.Name %>"/><br/><br/>
            </div>

            <div style= "margin-top:20px;padding-right:37px">
                <input type="text" name="Location" value="<%= hike.Location %>"/><br/><br/>
            </div>
  
            <div style= "margin-top:20px;padding-right:37px">
                <input type="text" name="LengthInMiles" value="<%= hike.LengthInMiles%>"/><br/><br/>
            </div>

            <div style= "margin-top:20px;padding-right:37px">
                <input type="text" name="Difficulty" value="<%= hike.Difficulty %>"/><br/><br/>
            </div>
          <form action="/hikes/<%= hike._id %>?_method=DELETE" method="POST">
            <input style="margin-top:20px;" type="submit" value="Delete Hike" />
          </form>
        </main>
</body>
</html>