<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
</head>
<%- include('../nav') %>
<body style = "text-align:center;color:rgb(133,22,41);">
        <h1>Hike Info</h1>
        <main>
            <div style="display: flex; display: inline-flex; padding: 40px;">
                Name:<h3><%= hike.Name %></h2>
            </div>

            <div style="display: flex; display: inline-flex; padding: 40px;">
                Location:<h3><%= hike.Location %></h3>
            </div>
  
            <div style="display: flex; display: inline-flex; padding: 40px;">
                LengthInMiles:<h3><%= hike.LengthInMiles %> </h3>
            </div>

            <div style="display: flex; display: inline-flex; padding: 40px;">
                Difficulty:<h3><%= hike.Difficulty %> </h3>
            </div>
          <form action="/hikes/<%= hike._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Hike" />
          </form>
        </main>
</body>
    
</html>